name: Integration Test

on:
  pull_request:
    branches: [TODO]

jobs:
  do_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python v3.10
        uses: actions/setup-python@v3
	with:
	  python-version: '3.10'
      - name: Test!
        run: python test.py